.highlight1 {
    position: absolute;
    left: 1rem;
    right: 1rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url('../assets/circuit-image.jpg');
    border-radius: 15px;
    background-size: cover;
    width: auto;
    height: 23rem;
}

.highlight-round {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin : 1rem;
    gap: 0.5rem;
    
}

.highlight-round h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    color: white;
    margin: 0;
}

.highlight-round img {
    width: 1.5rem;
    height: 1.5rem;
}

.highlight-circuit-name {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 1rem;
}

.highlight-circuit-name h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    color: white;
    margin: 0;
    text-align: start;
}

.highlight-circuit-name h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    margin: 0;
}

.highlight-date {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-self: flex-start;
    margin: 11rem 1rem 0;
}

.highlight-date h1{
    font-weight: 300;
    font-size: 1.7rem;
}




