.result-header h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: white;
    margin: 1rem 0;
    text-align: center;
}

.result-subheader h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    margin: 0 0 1rem 0;
    text-align: center;
}