.schedule-title{
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: white;
    margin: 1rem;
    text-align: center;
}

.prediction-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
