.App {
  text-align: center;
}

.highlight h1{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  color: white;
  
}

.driver h1 {
  text-align: start;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  color: white;
}
.driver h2 {
  text-align: start;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  color: white;
}

.driver-view-all{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}
.view-all-link {
  text-decoration: none; /* Remove underline */
  color: white; /* Change color to white */
  font-family: 'Orbitron', sans-serif; /* Ensure consistent font */
  font-weight: 400; /* Set font weight */
  transition: color 0.3s; /* Smooth color transition */
}

.view-all-link:hover {
  color: gray; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
